* {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 30% 50% 20%;
}

#left-top-left {
  padding: 30px;
  background-color: crimson;
}

#square {
  height: 25px;
  width: 25px;
  rotate: 45deg;
  background-color: black;
}
