* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: rgba(128, 128, 128, 0.752); */
}

#nav {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}

#nav h4 {
  font-size: 20px;
  font-weight: 500;
}

#nav i {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
}

#center {
  width: 100%;
  /* background-color: red; */
  padding: 40px 50px;
}

#center h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 80px;
}

#center-in {
  height: 200px;
  /* background-color: red; */
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#center-in p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

#right {
  width: 20%;
}

.elem {
  padding: 20px 0;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elem a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.elem i {
  font-size: 25px;
  font-weight: 500;
  opacity: 0;
}

.elem:hover i {
  opacity: 1;
}

.elem:hover {
  text-decoration: underline;
}

#bottom {
  height: 35%;
  width: 100%;
  background-color: red;
  background-image: url("https://plus.unsplash.com/premium_photo-1690349404248-3ddd9be40eb1?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: 0 20%;
}
