* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: mediumslateblue; */
}

#page2 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(106, 83, 241); */
}

#page3 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(69, 40, 237); */
}

#page2 #image-div {
  height: 100%;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
#image-div img {
  height: 100%;
  scale: 1.4;
  width: 100%;
  object-fit: cover;
}
