* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #030303;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 40px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 50px;
}

#nav h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

#main h1 {
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 120px;
  width: 70%;
  position: relative;
  margin-left: 15%;
  z-index: 1;
}

#main h1:nth-child(2) {
  margin-top: 200px;
}

#main h1:nth-child(3) {
  text-align: center;
}

#main h1:nth-child(4) {
  text-align: center;
}

img {
  height: 400px;
  position: absolute;
  top: 14%;
  left: 40%;
}

#img1 {
  rotate: 20deg;
}
#img2 {
  rotate: 10deg;
}

#secondMain {
  height: 100%;
  width: 100%;
}
